

.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1em 4.2%;
    padding-bottom: 1.5em;
    position: relative;

    &__features, &__company
    {
        @extend .body-s;
        opacity: 0%;
        pointer-events: none;
        position: absolute;
        transition:all 300ms;
        background-color: $color-White;
        list-style: none;
        padding-left: 0;
        padding:1.7em;
        color: inherit;
        box-shadow: 0px 10px 40px rgba(0,0,0,15%);
        top:3em;
        display: flex;
        flex-direction: column;
        gap: 1.14em;
        border-radius: 10px;
        z-index: 99;
    }

    &__btn-menu
    {
        cursor: pointer;
    }

    &__btns
    {
        @extend .body-s;
        display: none;
    }

    &__btns
     {
        gap: 2.5em;
     }

    &__btn-login 
    {
        @extend .btn-1;
    }

    &__btn-register
     {
        @extend .btn-2;
     }
}


.nav 
{
    @extend .body-s;
    display: none;

    margin-right: auto;
    margin-left: 4.28em;

    &__list 
    {
        display: flex;
        list-style: none;
        padding-left: 0;
        gap: 2.85em;
    }

    &__img-arrow 
    {
        transition: transform 300ms;
    }

    &__item-features, &__item-company
        {
            &--open
            {
                & .nav__img-arrow
                {
                    transform: rotate(180deg);
                }
            }
        }
}


@media (min-width: 768px)
{
    .header 
    {
        padding: 1.166rem 2.77% 3.72rem;

        

        &__features, &__company
        {
            &--open 
            {
                opacity: 100%;
                pointer-events: all;
            }
        }
        &__btn-menu
        {
            display: none;
        }

        &__btns 
        {
            display: flex;
        }

    }
    .nav {
        display: block;
        

        
    }
}