body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  background-color: #FAFAFA;
  color: #686868;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0%;
  pointer-events: none;
  transition: opacity 300ms;
}
.overlay--open {
  opacity: 100%;
  pointer-events: all;
}
.overlay--open .menu-mobile {
  transform: translateX(0%);
}

.menu-mobile {
  background-color: white;
  width: 64%;
  margin-left: auto;
  padding: 1.25em;
  height: 100%;
  transform: translateX(100%);
  transition: all 300ms;
}
.menu-mobile__btn-close {
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.menu-mobile__btns {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav-mobile {
  margin-bottom: 2em;
}
.nav-mobile__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav-mobile__item-features--open .nav__img-arrow, .nav-mobile__item-company--open .nav__img-arrow {
  transform: rotate(180deg);
}
.nav-mobile__features, .nav-mobile__company {
  display: flex;
  flex-direction: column;
  gap: 1em;
  display: none;
}
.nav-mobile__features--open, .nav-mobile__company--open {
  display: flex;
}
.nav-mobile__features__icon {
  width: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .overlay {
    opacity: 0%;
    pointer-events: none;
  }
}
.body-s, .nav, .header__btns, .header__features, .header__company {
  font-size: 0.875rem;
}

.nav__item {
  transition: color 300ms;
}
.nav__item:hover {
  color: #151515;
}
.nav__item:hover path {
  stroke: #151515;
}
.nav__item path {
  transition: stroke 300ms;
}
.nav__link {
  color: inherit;
  text-decoration: none;
}
.nav__img-arrow {
  margin-left: 0.57em;
}

.btn, .btn-2, .header__btn-register, .menu-mobile__btn-register, .btn-1, .header__btn-login, .menu-mobile__btn-login {
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 300ms;
}
.btn:hover, .btn-2:hover, .header__btn-register:hover, .menu-mobile__btn-register:hover, .btn-1:hover, .header__btn-login:hover, .menu-mobile__btn-login:hover {
  color: #151515;
  border-color: #151515;
}

.btn-1, .header__btn-login, .menu-mobile__btn-login {
  border: none;
}

.btn-2, .header__btn-register, .menu-mobile__btn-register {
  border: solid 1.5px #686868;
  padding: 0.92em 1.64em;
  border-radius: 14px;
}

.dropdown__link {
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
  cursor: pointer;
}
.dropdown__link:hover {
  color: #151515;
}
.dropdown__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4.2%;
  padding-bottom: 1.5em;
  position: relative;
}
.header__features, .header__company {
  opacity: 0%;
  pointer-events: none;
  position: absolute;
  transition: all 300ms;
  background-color: white;
  list-style: none;
  padding-left: 0;
  padding: 1.7em;
  color: inherit;
  box-shadow: 0x 10px 40px rgba(0, 0, 0, 0.15);
  top: 3em;
  flex-direction: column;
  gap: 1.14em;
  border-radius: 10px;
}
.header__btn-menu {
  cursor: pointer;
}
.header__btns {
  display: none;
}
.header__btns {
  gap: 2.5em;
}
.nav {
  display: none;
  margin-right: auto;
  margin-left: 4.28em;
}
.nav__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2.85em;
}
.nav__img-arrow {
  transition: transform 300ms;
}
.nav__item-features--open .nav__img-arrow, .nav__item-company--open .nav__img-arrow {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .header {
    padding: 1.166rem 2.77% 3.72rem;
  }
  .header__features--open, .header__company--open {
    opacity: 100%;
    display: flex;
    pointer-events: all;
  }
  .header__btn-menu {
    display: none;
  }
  .header__btns {
    display: flex;
  }
  .nav {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
